$primary-color: #000ff5;
$secondary-color: #ecc94b;
$accent-color: #82ae46;
$hover-white: #f2f2f2;
$white: white;
$sky-white: #fafafd;
$hover-blue: #070c96;

$medium-grey: #5555554d;
$sky-text: rgba(0, 0, 0, 0.6); // TODO: check with figma

$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

$font-large: 1rem; // 16px
$font-mobile-card-header: 24px;
$font-size-header: 2.5rem; // 40px;
$font-size-button: 1.25rem; // 20px;

$font-weight-medium: 400;
