@import "./styles/variables";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;

  @media (max-width: $breakpoint-mobile) {
    padding: 1rem;
  }
}

.intro {
  text-align: center;
  margin-bottom: 24px;
  line-height: 24px;
  font-size: $font-large;

  @media (min-width: 630px) {
    width: 614px;
  }
}

.button-row {
  display: flex;
  gap: 4px;
  margin: 16px;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.header {
  font-size: 4rem;
  margin-top: 48px;
  margin-bottom: 24px;

  background: linear-gradient(
    90deg,
    #ff7800 0%,
    #f80032 20%,
    #ff00a0 40%,
    #8c28ff 60%,
    #0023ff 80%,
    #1798ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Safari support */
  color: transparent;
  display: inline;

  @media (max-width: $breakpoint-mobile) {
    font-size: 40px;
  }
}

.mobile-only {
  display: none;
  margin-bottom: 32px;
}

@media (max-width: $breakpoint-mobile) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}
